<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Web_191224</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--서블릿 등록 -->
	<!--톰캣이 구동될때, 한 번 실행 하는 목적을 두고 있다. -->
	<servlet>
		<servlet-name>loader</servlet-name>
		<servlet-class>jdbc.Loader</servlet-class>
		<init-param>
			<param-name>jdbcDriver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>

		</init-param>
		<load-on-startup>1</load-on-startup> <!--자동으로 한 번 실행하는 것. -->
	</servlet>
	
	<!-- 컨트롤러는 사용자의 모든 요청을 받음. -->
	<servlet>
	<servlet-name>FrontController</servlet-name>
	<servlet-class>controller.FrontController</servlet-class>
	</servlet>
	
	<!-- 컨트롤러가 요청을 판별하도록 하는 것 -->
	<servlet-mapping>
	<servlet-name>FrontController</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>